
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>播放器</title>


    <!--字体图标样式-->
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/solid.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css'>

    <link rel="stylesheet" href="~/Scripts/AplayerJSCS/APlayer.min.css">
    <script src="~/Scripts/AplayerJSCS/APlayer.min.js"></script>
    <!--布局样式-->
    <link href="~/Content/footer/css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="aplayer" class="aplayer" data-id="5097445912" data-server="netease" data-type="playlist" data-fixed="true" data-listfolded="true" data-order="random" data-theme="#F58EA8"></div>
    <script src="~/Scripts/AplayerJSCS/meting.js"></script>
</body>

</html>
