@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <title>该页面正在播放- The Saltwater Room</title>

    <link href="~/Content/Music/css/style.css" rel="stylesheet" />
</head>
<body>
    <audio controls autoplay>
            <source src="~/Content/Music/The%20Saltwater%20Room.mp3" type="audio/mpeg" />
    </audio>

    <div id="background" class="wall"></div>
    <div id="midground" class="wall"></div>
    <div id="foreground" class="wall"></div>
    <div id="top" class="wall"></div>
</body>
</html>
