@{
    ViewBag.Title = "Home Page";
}

@using Aestheticism_Music.Models
@{ 
    List<Administer> Alist = ViewBag.Alist;
}
@model List<Administer>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <h2>客服：@item.AdministerName</h2>
                <p>
                    电话：@item.AdministerPhone
                    <br />
                    电子邮箱：@item.AdministerEmail
                    <br />
                    地址：Aestheticism Music有限公司
                </p>
            </div>
        }
    </div>